body{
    background: rgb(0, 0, 34);
}
.titulo{
    width: 100%;
    height: 50px;
    background: rgb(22, 22, 250);
    margin-top: -20px;
}
.titulo h3{ 
    text-align: center;
    font-size: 2.5em;
    margin-top: 60px;
    background: blue;
    color: white;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
.cuadro{
    width: 200px;
    height: 250px;
    background: rgb(22, 22, 250);
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
    float: left;

}
.nombre{
    width: 100%;
    text-align: center;
    color: white;
}